In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Anna\Desktop\Data Analytics\Instacart Basket Analysis\2 Data'

In [3]:
df_ords_prods_comb = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

(32434489, 11)

In [4]:
df_ords_prods_comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
dtypes: category(1), float64(1), int64(8), object(1)
memory usage: 2.7+ GB

In [6]:
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

No.4 Check the shape of the imported dataframe

In [5]:
df_ords_prods_comb.shape

(32434489, 11)

No.5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [21]:
df_prods_checked = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = False)
df_prods_checked = df_prods_checked.drop(columns=["Unnamed: 0"])

In [22]:
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [23]:
print(df_prods_checked.shape)
df_prods_checked.info()

(49693, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [24]:
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [11]:
df_ords_prods_comb.shape

(32434489, 10)

In [25]:
%%time 

df_prods_checked_subset = df_prods_checked.sample(frac=0.1)
df_ords_prods_comb_subset = df_ords_prods_comb.sample(frac=0.1)
print(f"df_prods_checked.shape = {df_prods_checked.shape}")
print(f"df_prods_checked_subset.shape = {df_prods_checked_subset.shape}")
print(f"df_ords_prods_comb.shape = {df_ords_prods_comb.shape}")
print(f"df_ords_prods_comb_subset.shape = {df_ords_prods_comb_subset.shape}")

df_prods_checked.shape = (49693, 5)
df_prods_checked_subset.shape = (4969, 5)
df_ords_prods_comb.shape = (32434489, 10)
df_ords_prods_comb_subset.shape = (3243449, 10)
Wall time: 58 s

In [27]:
%%time
print(f"df_ords_prods_comb_subset.shape = {df_ords_prods_comb_subset.shape}")
print(f"df_prods_checked_subset.shape = {df_prods_checked_subset.shape}")
df_ords_prods_subset_merged = df_ords_prods_comb_subset.merge(
    df_prods_checked_subset, on="product_id", indicator=True
)
print(f"df_ords_prods_subset_merged.shape = {df_ords_prods_subset_merged.shape}")
df_ords_prods_subset_merged.tail(2)

df_ords_prods_comb_subset.shape = (3243449, 10)
df_prods_checked_subset.shape = (4969, 5)
df_ords_prods_subset_merged.shape = (308576, 15)
Wall time: 4.07 s

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
308574,2610281,112026,prior,7,2,9,8.0,11851,4,0,Malabar black pepper,104,13,5.5,both
308575,1146483,32975,prior,9,3,13,3.0,46840,1,1,Pocket Pack Facial Tissue 2 Ply Packs,54,17,12.4,both

6. Confirm the results of the merge using the merge flag.

In [29]:
df_ords_prods_subset_merged._merge.value_counts()

both          308576
left_only          0
right_only         0
Name: _merge, dtype: int64

In [31]:
df_ords_prods_subset_merged.shape

(308576, 15)

In [33]:
df_ords_prods_subset_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308576 entries, 0 to 308575
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                308576 non-null  int64
 1   user_id                 308576 non-null  int64
 2   eval_set                308576 non-null  object
 3   order_number            308576 non-null  int64
 4   order_dow               308576 non-null  int64
 5   order_hour_of_day       308576 non-null  int64
 6   days_since_prior_order  288284 non-null  float64
 7   product_id              308576 non-null  int64
 8   add_to_cart_order       308576 non-null  int64
 9   reordered               308576 non-null  int64
 10  product_name            308572 non-null  object
 11  aisle_id                308576 non-null  int64
 12  department_id           308576 non-null  int64
 13  prices                  308576 non-null  float64
 14  _merge                  308576 non-null  category
dtypes: category(1), float64(2), int64(10), object(2)
memory usage: 35.6+ MB

7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [32]:
%%time
df_ords_prods_subset_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))

Wall time: 142 ms