In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\Anna\Desktop\Data Analytics\Instacart Basket Analysis\2 Data'

In [4]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))
df_ords_prods_merged.shape

(308576, 15)

In [5]:
df = df_ords_prods_merged.iloc[:100000]

In [6]:
df.shape

(100000, 15)

In [7]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Anna\AppData\Local\Temp\ipykernel_4292\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['prices'].max()

22.3

In [10]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Anna\AppData\Local\Temp\ipykernel_4292\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product     80111
Low-range product     18833
High-range product     1056
Name: price_range_loc, dtype: int64

In [14]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc
0,2862468,66479,prior,24,4,13,10.0,24838,3,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product
1,980006,105915,prior,25,3,15,6.0,24838,6,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product
2,2184085,196075,prior,9,6,17,1.0,24838,1,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product
3,3317270,163317,prior,24,6,16,16.0,24838,2,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product
4,408267,97387,prior,31,3,22,10.0,24838,9,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product

In [35]:
df['order_dow'].value_counts(dropna = False)

0    20639
1    17770
6    14365
2    12542
5    12342
4    11173
3    11169
Name: order_dow, dtype: int64

In [36]:
result = []

In [37]:
for value in df["order_dow"]:
  if value == 0:
    result.append("busiest day")
  elif value == 4:
    result.append("least busy")
  else:
    result.append("regularly busy")

In [39]:
df['busiest_day'] = result

C:\Users\Anna\AppData\Local\Temp\ipykernel_4292\530291758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['busiest_day'] = result

In [40]:
df['busiest_day'].value_counts(dropna = False)

regularly busy    68188
busiest day       20639
least busy        11173
Name: busiest_day, dtype: int64

### Task

2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural).

In [43]:
labeling_counts = df['order_dow'].value_counts(dropna = False)

In [44]:
labeling_counts

0    20639
1    17770
6    14365
2    12542
5    12342
4    11173
3    11169
Name: order_dow, dtype: int64

In [45]:
labeling_counts.index

Int64Index([0, 1, 6, 2, 5, 4, 3], dtype='int64')

In [47]:
day_number = list(labeling_counts.index)
day_number

[0, 1, 6, 2, 5, 4, 3]

In [48]:
results = []

In [51]:
for value in df['order_dow']:
    if value == day_number[0] or value == day_number[1]:
        results.append('Busiest days')
    elif value == day_number[len(day_number) - 1] or value == day_number[len(day_number) - 2]:
        results.append('Slowest days')
    else:
        results.append('Regulary busy days')

In [52]:
len(results)

100000

In [53]:
df['order_dow'].shape

(100000,)

In [54]:
df['busiest_days'] = results

C:\Users\Anna\AppData\Local\Temp\ipykernel_4292\2987079965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['busiest_days'] = results

3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [56]:
df['busiest_days'].value_counts(dropna = False)

Regulary busy days    39249
Busiest days          38409
Slowest days          22342
Name: busiest_days, dtype: int64

4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [57]:
df.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc,busiest_day,busiest_days
0,2862468,66479,prior,24,4,13,10.0,24838,3,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,least busy,Slowest days
1,980006,105915,prior,25,3,15,6.0,24838,6,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Slowest days
2,2184085,196075,prior,9,6,17,1.0,24838,1,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days
3,3317270,163317,prior,24,6,16,16.0,24838,2,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days
4,408267,97387,prior,31,3,22,10.0,24838,9,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Slowest days

In [58]:
dict_labeling_counts = df['order_hour_of_day'].value_counts(dropna = False).to_dict()

In [59]:
dict_labeling_counts

{13: 8559,
 10: 8526,
 14: 8467,
 11: 8448,
 15: 8254,
 12: 8018,
 16: 7989,
 9: 7552,
 17: 6381,
 8: 5125,
 18: 5007,
 19: 3728,
 20: 2964,
 7: 2593,
 21: 2551,
 22: 1969,
 23: 1230,
 6: 894,
 0: 681,
 1: 323,
 5: 251,
 2: 194,
 3: 157,
 4: 139}

In [60]:
list_quantile = list(df['order_hour_of_day'].value_counts(dropna = False).quantile([0.75, 0.5, 0.25]))

In [61]:
list_quantile

[7996.25, 3346.0, 840.75]

In [62]:
results_labeling_hour = []

In [63]:
for value in df['order_hour_of_day']:
    for key, val in dict_labeling_counts.items():
        if value == key:
            if val < list_quantile[2]:
                results_labeling_hour.append('Fewest orders')
            elif val >= list_quantile[2] and val < list_quantile[1]:
                results_labeling_hour.append('Average orders')
            elif val >= list_quantile[1]:
                results_labeling_hour.append('Most orders')

In [64]:
def labeling_result (x):
    most_orders = x.count('Most orders')
    average_orders = x.count('Average orders')
    fewest_orders = x.count('Fewest orders')
    
    print(f'Most orders: {most_orders}')
    print(f'Average orders: {average_orders}')
    print(f'Fewest orders: {fewest_orders}')
    print(f'Total: {most_orders + average_orders + fewest_orders}')

In [65]:
labeling_result(results_labeling_hour)

Most orders: 86054
Average orders: 12201
Fewest orders: 1745
Total: 100000

In [66]:
df['order_hour_of_day'].shape

(100000,)

In [67]:
df['busiest_period_of_day'] = results_labeling_hour

C:\Users\Anna\AppData\Local\Temp\ipykernel_4292\2573600056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['busiest_period_of_day'] = results_labeling_hour

5. Print the frequency for this new column.

In [68]:
df['busiest_period_of_day'].value_counts(dropna = False)

Most orders       86054
Average orders    12201
Fewest orders      1745
Name: busiest_period_of_day, dtype: int64

7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [69]:
df.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_updated.pkl'))