In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Anna\Desktop\Data Analytics\Instacart Basket Analysis\2 Data'

In [11]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_updated.pkl'))
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2862468,66479,prior,24,4,13,10.0,24838,3,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,least busy,Slowest days,Most orders
1,980006,105915,prior,25,3,15,6.0,24838,6,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Slowest days,Most orders
2,2184085,196075,prior,9,6,17,1.0,24838,1,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders
3,3317270,163317,prior,24,6,16,16.0,24838,2,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders
4,408267,97387,prior,31,3,22,10.0,24838,9,1,Unsweetened Almondmilk,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Slowest days,Average orders

In [26]:
df_ords_prods_merge.shape

(100000, 20)

In [27]:
df.groupby('product_name')

### 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [38]:
df_ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.932851
3     14.652057
4     16.947074
7     17.247197
9     17.071406
10    20.904580
11    17.740741
12    15.786932
13    17.853372
14    26.868421
15    16.709924
16    18.158352
17    14.317829
18    19.647059
19    17.355344
20    15.512718
21    17.476190
Name: order_number, dtype: float64

### 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code

A complete list of all departments is returned when the mean calculation is performed for the whole dataframe as opposed to simply the first 100000 entries. Additionally, the departments' average order number in the taken 100000 items does not correspond to the whole dataframe. They were skewed by the small subset's sample size.

### 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [30]:
df_ords_prods_merge['max_order']=df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [31]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2862468,66479,prior,24,4,13,10.0,24838,3,1,...,91,16,5.3,both,Mid-range product,Mid-range product,least busy,Slowest days,Most orders,51
1,980006,105915,prior,25,3,15,6.0,24838,6,1,...,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Slowest days,Most orders,36
2,2184085,196075,prior,9,6,17,1.0,24838,1,1,...,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,88
3,3317270,163317,prior,24,6,16,16.0,24838,2,1,...,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,24
4,408267,97387,prior,31,3,22,10.0,24838,9,1,...,91,16,5.3,both,Mid-range product,Mid-range product,regularly busy,Slowest days,Average orders,31

In [32]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag']='Loyal customer'

In [33]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order']<=40)&(df_ords_prods_merge['max_order']>10),'loyalty_flag']='Regular customer'

In [34]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']<=10,'loyalty_flag']='New customer'

In [35]:
df_ords_prods_merge['loyalty_flag'].value_counts()

Regular customer    44317
New customer        34389
Loyal customer      21294
Name: loyalty_flag, dtype: int64

In [36]:
df_ords_prods_merge['loyalty_flag']

0          Loyal customer
1        Regular customer
2          Loyal customer
3        Regular customer
4        Regular customer
               ...
99995        New customer
99996    Regular customer
99997      Loyal customer
99998        New customer
99999    Regular customer
Name: loyalty_flag, Length: 100000, dtype: object

### 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified.

In [37]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                    prices
                      mean  min   max       sum
loyalty_flag
Loyal customer    8.241430  1.3  22.3  175493.0
New customer      8.307741  1.3  22.3  285694.9
Regular customer  8.326773  1.3  22.3  369017.6

The amount of money spent on items by loyal customers is often the lowest, while the amount spent by new consumers is the highest.

### 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [43]:
df_ords_prods_merge['avg_price']=df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

In [44]:
df_ords_prods_merge['avg_price']

0        14.7
1        14.0
2         6.8
3         5.3
4         5.3
         ...
99995    22.3
99996    22.3
99997    22.3
99998    22.3
99999    22.3
Name: avg_price, Length: 100000, dtype: float64

In [46]:
df_ords_prods_merge.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2862468,66479,prior,24,4,13,10.0,24838,3,1,...,5.3,both,Mid-range product,Mid-range product,least busy,Slowest days,Most orders,51,Loyal customer,14.7
1,980006,105915,prior,25,3,15,6.0,24838,6,1,...,5.3,both,Mid-range product,Mid-range product,regularly busy,Slowest days,Most orders,36,Regular customer,14.0
2,2184085,196075,prior,9,6,17,1.0,24838,1,1,...,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,88,Loyal customer,6.8
3,3317270,163317,prior,24,6,16,16.0,24838,2,1,...,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,24,Regular customer,5.3
4,408267,97387,prior,31,3,22,10.0,24838,9,1,...,5.3,both,Mid-range product,Mid-range product,regularly busy,Slowest days,Average orders,31,Regular customer,5.3
5,744208,97447,prior,4,0,17,21.0,24838,1,1,...,5.3,both,Mid-range product,Mid-range product,busiest day,Busiest days,Most orders,4,New customer,5.3
6,1375935,135131,prior,18,1,14,21.0,24838,16,1,...,5.3,both,Mid-range product,Mid-range product,regularly busy,Busiest days,Most orders,28,Regular customer,14.7
7,2201902,191292,prior,23,4,21,14.0,24838,10,1,...,5.3,both,Mid-range product,Mid-range product,least busy,Slowest days,Average orders,24,Regular customer,22.3
8,780746,205586,prior,1,6,11,NaN,24838,3,0,...,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,23,Regular customer,5.3
9,1015019,97435,prior,41,5,10,8.0,24838,5,1,...,5.3,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,46,Loyal customer,5.3

In [47]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] >= 10, 'spending_flag']='High spender'

In [48]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] < 10, 'spending_flag']='Low spender'

In [49]:
df_ords_prods_merge['spending_flag'].value_counts()

High spender    55219
Low spender     44781
Name: spending_flag, dtype: int64

In [50]:
df_ords_prods_merge.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2862468,66479,prior,24,4,13,10.0,24838,3,1,...,both,Mid-range product,Mid-range product,least busy,Slowest days,Most orders,51,Loyal customer,14.7,High spender
1,980006,105915,prior,25,3,15,6.0,24838,6,1,...,both,Mid-range product,Mid-range product,regularly busy,Slowest days,Most orders,36,Regular customer,14.0,High spender
2,2184085,196075,prior,9,6,17,1.0,24838,1,1,...,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,88,Loyal customer,6.8,Low spender
3,3317270,163317,prior,24,6,16,16.0,24838,2,1,...,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,24,Regular customer,5.3,Low spender
4,408267,97387,prior,31,3,22,10.0,24838,9,1,...,both,Mid-range product,Mid-range product,regularly busy,Slowest days,Average orders,31,Regular customer,5.3,Low spender
5,744208,97447,prior,4,0,17,21.0,24838,1,1,...,both,Mid-range product,Mid-range product,busiest day,Busiest days,Most orders,4,New customer,5.3,Low spender
6,1375935,135131,prior,18,1,14,21.0,24838,16,1,...,both,Mid-range product,Mid-range product,regularly busy,Busiest days,Most orders,28,Regular customer,14.7,High spender
7,2201902,191292,prior,23,4,21,14.0,24838,10,1,...,both,Mid-range product,Mid-range product,least busy,Slowest days,Average orders,24,Regular customer,22.3,High spender
8,780746,205586,prior,1,6,11,NaN,24838,3,0,...,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,23,Regular customer,5.3,Low spender
9,1015019,97435,prior,41,5,10,8.0,24838,5,1,...,both,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,46,Loyal customer,5.3,Low spender

### 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers.

In [51]:
df_ords_prods_merge['frequency_order_median']=df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

In [52]:
df_ords_prods_merge['frequency_order_median']

0        10.0
1         7.0
2         3.0
3        16.0
4        20.0
         ...
99995     9.0
99996     8.0
99997    22.0
99998     3.0
99999     5.0
Name: frequency_order_median, Length: 100000, dtype: float64

In [53]:
df_ords_prods_merge.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,frequency_order_median
0,2862468,66479,prior,24,4,13,10.0,24838,3,1,...,Mid-range product,Mid-range product,least busy,Slowest days,Most orders,51,Loyal customer,14.7,High spender,10.0
1,980006,105915,prior,25,3,15,6.0,24838,6,1,...,Mid-range product,Mid-range product,regularly busy,Slowest days,Most orders,36,Regular customer,14.0,High spender,7.0
2,2184085,196075,prior,9,6,17,1.0,24838,1,1,...,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,88,Loyal customer,6.8,Low spender,3.0
3,3317270,163317,prior,24,6,16,16.0,24838,2,1,...,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,24,Regular customer,5.3,Low spender,16.0
4,408267,97387,prior,31,3,22,10.0,24838,9,1,...,Mid-range product,Mid-range product,regularly busy,Slowest days,Average orders,31,Regular customer,5.3,Low spender,20.0
5,744208,97447,prior,4,0,17,21.0,24838,1,1,...,Mid-range product,Mid-range product,busiest day,Busiest days,Most orders,4,New customer,5.3,Low spender,21.0
6,1375935,135131,prior,18,1,14,21.0,24838,16,1,...,Mid-range product,Mid-range product,regularly busy,Busiest days,Most orders,28,Regular customer,14.7,High spender,22.0
7,2201902,191292,prior,23,4,21,14.0,24838,10,1,...,Mid-range product,Mid-range product,least busy,Slowest days,Average orders,24,Regular customer,22.3,High spender,14.0
8,780746,205586,prior,1,6,11,NaN,24838,3,0,...,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,23,Regular customer,5.3,Low spender,30.0
9,1015019,97435,prior,41,5,10,8.0,24838,5,1,...,Mid-range product,Mid-range product,regularly busy,Regulary busy days,Most orders,46,Loyal customer,5.3,Low spender,8.0

In [54]:
df_ords_prods_merge.loc[df_ords_prods_merge['frequency_order_median'] > 20, 'frequency_order_median_flag']='Non-frequent customer'

In [55]:
df_ords_prods_merge.loc[(df_ords_prods_merge['frequency_order_median'] > 10)&(df_ords_prods_merge['frequency_order_median'] <= 20), 'frequency_order_median_flag']='Regular customer'

In [56]:
df_ords_prods_merge.loc[df_ords_prods_merge['frequency_order_median'] <= 10, 'frequency_order_median_flag']='Frequent customer'

In [57]:
df_ords_prods_merge['frequency_order_median_flag'].value_counts()

Frequent customer        42505
Regular customer         27419
Non-frequent customer    26562
Name: frequency_order_median_flag, dtype: int64

In [58]:
df_ords_prods_merge.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,frequency_order_median,frequency_order_median_flag
0,2862468,66479,prior,24,4,13,10.0,24838,3,1,...,Mid-range product,least busy,Slowest days,Most orders,51,Loyal customer,14.7,High spender,10.0,Frequent customer
1,980006,105915,prior,25,3,15,6.0,24838,6,1,...,Mid-range product,regularly busy,Slowest days,Most orders,36,Regular customer,14.0,High spender,7.0,Frequent customer
2,2184085,196075,prior,9,6,17,1.0,24838,1,1,...,Mid-range product,regularly busy,Regulary busy days,Most orders,88,Loyal customer,6.8,Low spender,3.0,Frequent customer
3,3317270,163317,prior,24,6,16,16.0,24838,2,1,...,Mid-range product,regularly busy,Regulary busy days,Most orders,24,Regular customer,5.3,Low spender,16.0,Regular customer
4,408267,97387,prior,31,3,22,10.0,24838,9,1,...,Mid-range product,regularly busy,Slowest days,Average orders,31,Regular customer,5.3,Low spender,20.0,Regular customer

In [ ]:
Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [60]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge_updated_new.pkl'))